@import "./fonts.scss";
@import "./navbar.scss";
@import "./helpers.scss";
@import "./notification.scss";


.main-layout {
	max-height: calc(90vh - 55px);
	padding: 2rem 0;
	overflow: auto;

	.nav-links {
		display: flex;
		gap: 0.3rem;
		padding: 0 2rem;
		align-items: center;
		margin-bottom: 1rem;

		img, p {
			cursor: pointer;
		}
		p {
			font-size: 14px;
			&.click {
				color: #333;
				font-weight: 500;
			}
			&.unclick {
				color: #aaa;
				font-weight: 300;
			}
		}
	}

	.header {
		display: flex;
		padding: 0 2rem;
		align-items: center;
		letter-spacing: 0.4px;
		justify-content: space-between;
		
		h1 {
			color: #333;
			font-size: 20px;
			font-weight: 600;
		}
		.actions {
			display: flex;
			gap: 1rem;
			align-items: center;
		}
		button {
			font-weight: 400;
			font-size: 16px;
		}
		.excel-button {
			cursor: pointer;
			font-size: 14px;
			padding: 7px 10px;
			border: 1px solid #ccc;
			text-transform: uppercase;
			background-color: #efefef;
		}		
	}

	& > .actions {
		display: flex;
		margin: 1rem 2rem;
		justify-content: flex-end;
	}
}

// Login Form
.login {
	display: flex;
	margin-top: 10%;
	align-items: center;
	flex-direction: column;
	justify-content: center;

	h1 {
		color: #333;
		font-size: 20px;
		font-weight: 500;
	}
	form {
		width: 20rem;
		margin-top: 1rem;
		text-align: center;

		& > button {
			width: 7rem;
			margin: 2rem auto;
			background-color: #036f75;
			&:hover {
				background-color: #025b5f;
			}
		}
	}
}

.not-found {
	padding: 4rem;
	display: flex;
	margin: 5% auto;
	width: fit-content;
	align-items: center;
	flex-direction: column;
	background-color: #d0fcff4d;

	h1 {
		font-weight: 500;
		font-size: 110px;
		color: #333333e8;
	}

	p {
		font-size: 20px;
		font-weight: 300;
		color: #515151ad;
		margin-bottom: 2rem;
	}
}

.center {
	display: flex;
	align-items: center;
	justify-content: center;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0px;
	z-index: 99;
	overflow: hidden;
	margin: 0 auto;
	background: rgba(255, 255, 255, 0.8);
}


.modal {
	gap: 2rem;
	display: flex;
	flex-direction: column;

	h2 {
		font-size: 18px;
		color: #000000;
		font-weight: 400;
		letter-spacing: 0.01em;
	}

	.inputs {
		gap: 1rem;
		display: flex;
		flex-direction: column;

		input {
			color: #555;
			font-size: 16px;
			padding: 0.7rem 1rem;
			background: #FFFFFF;
			border: 1px solid #D6D6D6;

			&.error {
				border: 1px solid #e07171;
			}
		}
	}

	.modal-action {
		gap: 1rem;
		display: flex;
		justify-content: flex-end;

		button {
			border: none;
			cursor: pointer;
			font-size: 14px;
			color: #414141;
			font-weight: 500;
			padding: 0.7rem 1rem;
			text-transform: uppercase;
			background-color: transparent;

			&:first-child:hover {
				background-color: #efefef;
			}

			&:nth-child(2) {
				color: #fff;
				background: #017E84;
			}
		}
	}
}

.scroll {
	overflow: auto;

	&::-webkit-scrollbar {
		width: 8px;
		height: 8px;
	}
	&::-webkit-scrollbar-track {
		border-radius: 30px;
		background: none;
	}
	&::-webkit-scrollbar-thumb {
		border-radius: 30px;
		background: #036f75;
		border: 1px solid transparent;
		background-clip: content-box;
	}
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@keyframes fadeInUp {
	from {
		opacity: 0;
		transform: translateY(1rem);
	}
	to {
		opacity: 1;
		transform: translateY(0);
	}
}
